{% extends 'base.html.twig' %}

{% block title %}The Weather
{% endblock %}

{% block body %}

	<body>
		<form  action="{{path("app_weather")}}" method="post">
			<label for="city">Find the current weather in:</label>
			<input type="text" name="city" placeholder="city">
			<button type="submit">Submit</button>
		</form>

     


	</body>
{% endblock %}
